@import './base.css';

body {
  background: var(--vt-c-white-soft);
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(100vh - 64px) 1fr;
  align-items: start;
  grid-template-areas: 'header aside';
  padding: 0 2rem;
  row-gap: 48px;
  font-weight: normal;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-areas: 'avatar info' 'nav nav';
  line-height: 1.5;
  align-self: center;
}

header .wrapper {
  grid-area: info;
  display: flex;
  place-items: flex-start;
  flex-wrap: wrap;
}

.logo {
  grid-area: avatar;
  margin: 0 2rem 0 0;
}

nav {
  grid-area: nav;
  text-align: left;
  margin-left: -1rem;
  font-size: 1rem;

  padding: 1rem 0;
  margin-top: 1rem;
}

.logo {
  margin: 0 2rem 0 0;
}

main {
  grid-area: aside;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  justify-self: center;
  padding: 0 16px 0 0;
  margin-top: 48px;
  align-items: center;
  justify-items: center;
}

.logo {
  grid-area: avatar;
  display: block;
  margin: 0 auto 2rem;
}

nav > .link {
  color: #777;
  text-decoration: none;
  font-size: 18px;
}

nav > .link:not(:last-child):after {
  content: '  |  ';
  color: #ddd;
  text-decoration: none;
}

nav > .router-link-active,
nav > .router-link-exact-active {
  color: #097 !important;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  color: #075;
  font-size: 24px;
  text-align: center;
  margin: 24px 0;
}

h2 {
  text-transform: uppercase;
  color: #097;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
}

h3 {
  text-transform: uppercase;
  color: #098;
  font-size: 16px;
}

@media (hover: hover) {
  a:hover {
    background-color: #fafafa;
  }
}

@media (max-width: 1024px) {
  #app {
    margin-top: 48px;
    grid-template-columns: 1fr;
    grid-template-rows: 360px max-content;
    grid-template-areas: 'header header' 'aside aside';
  }

  header {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  main {
    justify-self: center;
  }

  nav {
    grid-area: none;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  box-shadow: inset 0 0 1px #0007;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #074;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #097;
}
